Subject: {{ vars['command'] }} {{ vars['cElement'] }}

Hallo {{ vars['mail_properties']['mailToName'] }}

<p>der Raum <a href="{{ vars['meetingLink'] }}">{{ vars['cElement'] }}</a> wird nun von {{ vars['mail_properties']['mailFromName'] }} nicht mehr für Sie freigegeben!</p>

Ihr ZID Team
